@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

body{
  background-color: #FBF9FA;
}

.wave-container{
    background-color: #FBF9FA;
    padding-bottom: 0;
}
.wave-container1{
    background-color: #FBF9FA;
    padding-top: 0;
}

.bold{
    font-weight: bold;
}

.header-cart{
  background-color: transparent;
  border: none;
}

.material-symbols-outlined{
  font-size: 30px !important;
}

/* navbar */

.navbar-toggler{
    margin-left: auto;
}
.navbar-brand img{
    width: 80px;
    height: 50px;
}
.navbar-toggler{
    border: none;
}

.navbar-toggler:focus {
    border: none;
}

.navbar-container{
  width: 100%; 
  height: auto;
  padding: 15px 0 10px 0;

}

.navbar{
    background-color: #FBF9FA;
    border-radius: 50px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 70%;
    
}

.navbar .profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #7A3015;
}

.navbar a{
  color: #000;

}

.navbar a:hover{
  color: orange;
}

.dropdown button{
  border: none !important;
  background-color: transparent !important;
}
.btn-theme{
    background-color: #7A3015;
    color: #fff !important;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    text-decoration: none;
}

.btn-theme-profile{
  cursor: pointer;
}

.first-dropdown .dropdown-menu{
  padding: 15px;
  overflow-y: auto;
  height: 40vh;
}
.fa-shopping-cart{
  font-size: 24px;
  color: #000;
}
.cart-width{
  width: 400px !important;
}

.cart-img{
  height: 100%;
  border-radius: 3px;
}

.dropdown-menu[data-bs-popper] {
  right: 0 !important;
}

.custom-center-dropdown {
  left: 40%;
  transform: translateX(-40%);
  position: absolute;
}
.third-ul li{
  border: 2px solid #000;
  margin: 5px 2px;
  padding: 5px;
  border-radius: 5px;
}

.p-name{
  word-wrap: break-word;
  max-width: 100%;
}

.header-cart {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.header-cart .material-symbols-outlined {
  font-size: 24px; 
}

.header-cart .badge {
  position: absolute;
  top: -5px;  
  right: -5px;  
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  transform: translate(50%, -50%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* navbar end */




/*Essentials Section*/
.essentials {
  background-color: #FBF9FA;
  color: #7A3015;
  padding: 20px 0;
}

.how-headings h2 {
  font-size: 24px;
  color: #7A3015;
}

.essentials-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 0 !important;
  width: 100%;
}

.essentials .how-headings{
  padding-left: 50px;
}

.essentials-button button, .essentials-button a {
  padding: 5px 15px;
  border: 2px solid #7A3015;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  text-align: left;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.essentials-button button:hover, .essentials-button a:hover {
  background-color: #7A3015;
  color: #fff;
  transition: 400ms ease-in-out;
}

.add-to-cart .material-symbols-outlined{
  font-size: 22px !important;
  display: flex;
  justify-content: center;
  color: #000;
}

.add-to-cart .material-symbols-outlined:hover{
  color: #fff;
}

.product {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #F8EBDC;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.product h5{
  width: 100%;
  word-wrap: break-word;
}

.btn .add-to-cart{
  height: 8vh !important;
}
.product p{
  opacity: 70%;
}

.tag{
  opacity: 100% !important;
  color: #000;
}

.prices{
  display: flex;
  gap: 2%;
  margin-left: 10px;
  margin-bottom: 10px;
}



.product img {
  border-radius: 10px;
  width: auto;
  height: 20vh !important;
}

.item-btn {
  display: flex;
  gap: 10px;
}

.buy-now, .add-to-cart {
  color: #000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.buy-now:hover, .add-to-cart:hover {
  background-color: #7A3015;
}

@media (max-width: 576px) {
  .essentials-button {
    align-items: center;
  }
  .product {
    margin-bottom: 20px;
  }
}

.product-item:hover .img-product img {
  transform: scale(1.1);
}

.product-title {
  font-size: 16px;
  margin-top: 10px;
  transition: text-decoration 0.3s ease;
  padding: 5px 0;
  text-align: center;
  color: #000;
  font-weight: 500;

}

.sub-button{
  display: flex;
  gap: 5px;
}
.buy-now{
  text-decoration: none;
  background-color: #7A3015;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  width: 100% !important;
  height: auto;
}

.buy-now:hover, .add-to-cart:hover{
  background-color: #BD3207;
  color: #fff;
}

.size-button-button{
  padding: 0 10px;
}
.size-button{
  background-color: #7A3015;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  color: #fff;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500 !important;
}

.item-btn{
  display: flex;
  gap: 10px;
}

.add-to-cart{
  width: 30%;
  justify-content: center;
  border: none;
  color: #000;
  padding: 10px 0;
  margin: auto;
  border-radius: 5px;
  height: 100%;
}

.modal-content{
  border-radius: 20px !important;
}
.modal-bottom-to-top .modal-content {
  border-radius: 0;
  transform: translateY(100%);
  transition: transform 0.2s ease-out;
}

.modal-bottom-to-top.show .modal-content {
  transform: translateY(0);
}

.modal-dialog{
  margin-top: 10%;
}
.size-button:hover{
  background-color: #8d3e21;
}

.size-button.selected {
    background-color: red;
    color: #fff;
}
.product-text{
  padding: 30px;
  padding-bottom: 0 !important;
  padding-left: 5px !important;
}

.product-text p{
  margin: 0 !important;
  font-size: 16px;

}


.quantity-wrapper {
  display: flex;
  align-items: center;
  max-width: 150px;
  margin-top: 20px;
  border: 2px solid #7A3015;
  border-radius: 5px;
  margin: 10px;
  justify-content: center;
}
.quantity-wrapper input {
  text-align: center;
  width: 50%;
  -moz-appearance: textfield;
  appearance: textfield; 
  background-color: transparent;
  border: none;
  color: #7A3015;
}
.quantity-wrapper input::-webkit-inner-spin-button,
.quantity-wrapper input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-btn {
  background-color: transparent;
  border: none;
  color: #7A3015;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 20px;
  line-height: 1;
}

.text-danger{
  color: #7A3015 !important;
}

.cart{
  text-decoration: none;
  background-color: #7A3015;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.product-item:hover .product-title {
  text-decoration: underline;
}



.cart{
  padding: 0 10px;
}

.essentials-button{
  gap: 15px;
  padding-top: 0 !important;

}



.product {
  padding: 15px; 
  margin-bottom: 20px; 
  text-align: center; 
  border-radius: 10px;
  background-color: #F8EBDC;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: 0 5px 20px 5px;
}
.product img {
  max-width: 80%; 
}



.essentials-button a{
  text-decoration: none;
  border: 2px solid #7A3015;
  padding: 5px 15px;
  border-radius: 20px;
  color: #000;

}

.essentials-button a:hover{
  background-color: #7A3015;
  color: #fff;
  transition: 400ms ease-in-out;
}

.search-product{
  height: 8vh;
  border-radius: 15px;
  padding: 5px 15px;

}

.product-button{
  height: 8vh;
  border-radius: 15px;
  padding: 3px 15px;
  background-color: #7A3015 !important;
  border: none;
  color: #fff;
}






/*Essentials Section End*/

/*Pagination Section*/

.page-item a{
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: center;
  background-color: #7A3015;
  color: #fff;
  padding: 10px;
}

.prev, .next{
  width: 20px !important;
  height: 25px !important;
  margin-top: 5px;
}


/*Pagination Section*/


/* Chat Bot Section */

#chat-bot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #73BD1E;
  border: transparent;
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
#chat-bot-button i{
  margin: 0;
  padding: 16px 12px;
  font-size: 24px;
  color: #fff;
}


#chat-interface {
  position: fixed;
  bottom: 5px; 
  right: 50px;
  width: 30%;
  height: 60%;
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 768px) {
  #chat-interface {
      width: 80%;
      bottom: 5px;
      right: 5px;

      
  }
}

#chat-interface.hidden {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none; 
}

#chat-interface:not(.hidden) {
  opacity: 1;
  transform: translateY(0);
}

#chat-header {
  background-color: #7A3015;
  color: #fff;
  padding: 10px;
  padding-bottom: 0;
  justify-content: space-between;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-header p{
display: grid;
margin: auto;
}


#chat-header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}



#chat-footer {
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
}

#chat-bot-button.hidden {
  display: none;
}

.admin-chat{
  display: flex;
  font-weight: bold;
  gap: 5px;

}

.admin .text{
  text-align: start !important;
}

#chat-body{
padding: 10px;
padding-bottom: 20px;
overflow-y:  auto;
height: auto;
}




.admin p{
  justify-content: center;
  align-items: center;
  display: grid;
  margin: auto;
  color: #7A3015;
  margin-left: 5px;

}

.admin .text{
  background-color: #7A3015;
  color: #fff;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  margin: auto;
  font-size: 13px;
  padding-left: 10px !important;
  width: 80%;
}


.admin img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button-bot{
padding: 0 10px;
}
.button-bot button{
background-color: #7A3015;
border: transparent;
color: #fff;
padding: 10px;
margin: 5px;
border-radius: 10px;
  
}

#chat-bot-button.hidden {
display: none;
}

.dropdown-menu .dropdown-item {
  white-space: normal;  
  overflow: hidden;   
  word-wrap: break-word; 
  max-width: 280px;   
  }















